/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

input.button {
	width: 115px;
	height: 32px;
	border: 0px;
	font-size: 120%;
	color: #666;
	border-radius: 15px;
}

input.button:hover {
	color: #aaa;
}

#new_tweet {
	width: 520px;
	margin-bottom: 25px;
}
#new_tweet textarea {
	width: 520px;
	height: 40px;
}
#new_tweet h3 {
	font-weight: normal;
	font-size: 130%;
	margin: 0px;
	padding: 0px 0px 5px 0px;
}
#new_tweet #latest_message {
	color: #9c9c9c;
	font-size: 90%;
	padding-top: 3px;
	float: left;
	width: 360px;
}
#new_tweet #submit_button {
	float: right;
	text-align: right;
	width: 160px;
	padding-top: 3px;
}
#new_tweet a {
	color: #9c9c9c;
	text-decoration: none;
	font-weight: normal;
}

#tweets_list {
	margin: 0px;
	padding: 0px;
	width: 520px;
}
#tweets_list li {
	list-style: none;
	padding: 10px 0px;
	margin: 0px;
	border-bottom: 1px dashed #D2DADA;
	background-color: #fff;
}
#tweets_list li.first {
	border-top: 1px dashed #D2DADA;
}
#tweets_list li:hover {
	background-color: #f7f7f7;
}
#tweets_list li img {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
#tweets_list li div.tweet_message {
	float: left;
}
#tweets_list li div.tweet_message a {
	color: #2276bb;
	text-decoration: none;
	font-weight: bold;
}
#tweets_list li div.tweet_message div.tweet_info {
	color: #9c9c9c;
	font-size: 90%;
	padding-top: 3px;
}
#tweets_list li div.tweet_message div.tweet_info a {
	color: #9c9c9c;
	text-decoration: none;
	font-weight: normal;
}




















